@font-face {
    font-family: iransans;
    src: url("./Iranian\ Sans.ttf");
}
.task-lists-content{
    display: none;
    justify-content: center;
    flex-basis: 85%;
    align-items: flex-start;
    padding: 0.5rem;
}
.task-list-box{
    width: 95%;
    background: #BDDDE4;
    padding: 1rem;
    border-radius: 0.5rem;
}
.task-list-box ul{
    border-radius: 0.5rem;
    counter-reset: list-counter;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.task-list-box li{
    /* margin-bottom: 0.5rem; */
    counter-increment: list-counter; 
    position: relative;
    padding: 1rem;
    /* border-radius: 0.5rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.309);
}
.task-list-box li p::before{
    content:counter(list-counter) ". ";
}
.task-list-box li:hover{
    background: #c1e8f2;

}
.task-list-btn{
    display: flex;
    justify-content: baseline;
    gap: 0.3rem;
    align-content: center

}
.task-list-btn .btn{
    padding: 0.5rem 0.8rem;  
    font-family: iransans;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.edit-btn{
    background: #4CAF50;

}
.edit-btn:hover{
    background: #449f47;

}
.delete-btn{
    background: #f44336;
}
.delete-btn:hover{
    background: #e23a2e;

}
.delete-box{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: black;
    padding: 2rem;
    z-index: 9999;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius: 12px;
    opacity: 1; /* کاملاً واضح بمونه */
    pointer-events: auto;
    flex-flow: column;
    justify-content: center;
    gap: 0.5rem;
}
.delete-box .btn{
    padding: 0.3rem 0.8rem;  
    font-family: iransans;
    color: #f1f1f1;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.delete-box .btn.confirm{
    background: #3e4a61;
}
.delete-box .btn.unconfirm{
    background: #c53232;
}
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); /* پس‌زمینه تار با شفافیت */
    z-index: 1000;
    display: none;
  }
.edite-box{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: black;
    padding: 2rem;
    z-index: 9999;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius: 12px;
    opacity: 1; /* کاملاً واضح بمونه */
    pointer-events: auto;

}
.edite-box form{
    display: grid;   
    grid-template-columns: repeat(5,auto);
    gap: 0.5rem;
}
.edite-box form label{
    grid-column: 1/2;
}
.edite-box form input{
    grid-column: 2/6;
}
.edite-box form select{
    grid-column: 2/6;
}
.edite-box .btn{
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    margin-top: 1rem;
    border: none;
    border-radius: .5rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    color: white;
    font-family: iransans;
}
.edite-box .btn.change{
    background: rgb(13, 152, 46);
    grid-column: 2/3;
}
.edite-box .btn.cancel{
    background: #c53232;
    grid-column: 3/4;
}
@media (max-width: 600px) {
    .task-lists-content{
        flex-basis: 100%;
        padding: 0.4rem;
    }
    .task-list-box{
        width: 95%;
        padding: 0.5rem;
    }
    .task-list-box ul{
        padding: 0.5rem;
    }
    .task-list-box li{
        padding: 0.5rem;
        font-size: 0.8rem;
    }
    .task-list-btn .btn{
        padding: 0.5rem 0.5rem;  
        font-size: 0.6rem;
    }
    .edite-box{
        width: 95%;
    }

}